.mtg-card {
    display: flex;
    width: 300px;
    height: 400px;
    background: white;
    flex-direction: column;
    justify-content: center; /* vertical alignment */
    align-items: center; /* horizontal alignment */
    margin: 20px;
    border: #282c34 solid 1px;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.selected {
    box-shadow: 10px 10px 0 grey;
    border: #282c34 solid 3px;
}

.mtg-card img {
    width: 250px;
    margin-bottom: 10px;
}